
.app {
  background-color: #fafafa;
 padding-bottom: 128px;
}

.app__header {
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.app__headerImage {
  object-fit: contain;
  
  
}